<section class="relative w-full py-12 md:py-24 lg:py-32 bg-white">
  <div class="container px-4 md:px-6 mx-auto">
    <div class="grid gap-6 lg:grid-cols-2 lg:gap-12 items-center">
      <div class="space-y-4">
        <h1
          class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl text-slate-900"
        >
          Lorem ipsum{" "}
          <span class="text-emerald-700">sollicitudin</span>.
        </h1>
        <p
          class="max-w-150 text-slate-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
        >
          Nullam sit amet justo cursus, viverra nulla quis, commodo lacus.
          Curabitur vestibulum lacus eget tincidunt venenatis.
        </p>
      </div>
      <div
        class="mx-auto aspect-video overflow-hidden rounded-xl object-cover bg-slate-200 flex items-center justify-center w-full lg:order-last"
      >
        <span class="text-slate-400 font-medium"> [Photo Cabinet] </span>
      </div>
    </div>
  </div>
</section>
